@import '../../../../../resources/mixins';

.CameraEventLogView {
  position: fixed!important;
  display: none;
  width: 600px;
  min-width: 620px;
  height: 200px;
  top: 100px;
  left: 200px;
  background: rgb(0, 19, 33);
  // border: solid 2px #00ff91!important;
  border: solid 2px #00efff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px #0274ff, inset 0 0 20px rgb(2,116,255);
  // box-shadow: 0 0 20px 1px rgba(2,255,247,0.66), inset 0 0 20px rgba(2,255,247,0.66)!important;
  z-index: 100;
  .headerArea {
    width: calc(100% - 50px);
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    cursor: default;
    .headerItem {
      padding: 0;
      color: rgba(0,237,255,1);
      font-size: 1.7rem;
    }
  }
  .cameraEvent_mainContainer {
    width: calc(100% - 30px);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100% - 160px);
    display: block;
    margin-left: 20px;
    .nodevice {
      font-size: 19px;
      color: rgba(0,237,255,1);
      padding: 0 5px 0 0;
    }
    .tableArea {
      margin-right: 10px;
      width: calc(100% - 10px);
      cursor: pointer;
      .eventRow {
        margin: 0;
        .eventItem {
          font-size: 14px;
          color: rgba(0,237,255,1);
          padding: 0 5px 0 0;
        }
      }
      .greenRow {
        .eventItem {
          color: green;
        }
      }
      .blueRow {
        .eventItem {
          color: rgba(0,237,255,1);
        }
      }
      .redRow {
        .eventItem {
          color: #cb2d3a;
        }
      }
      :hover {
        .eventItem{
          //color: purple;
        }

      }
    }
  }
  .captionArea {
    position: absolute;
    border: solid 2px #00efff;
    border-radius: 5px;
    color: rgba(0,237,255,1);
    background: rgba(22,50,173,0.5);
    font-size: 16px;
    padding: 0 4%;
    top: 0;
    right: 10%;
    overflow: hidden;
    cursor: default;
  }
  .sortArea {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    text-align: left;
    height: 30px;
    .sortItem {
      display: inline-flex;
      height: 100%;
      margin-left: 20px;
      font-size: 16px;
      color: #909195;
      cursor: pointer;
      .icon {
        width: 10px;
      }
    }
    .selected {
      color: rgba(0,237,255,1);
      .sortType {
        text-decoration: underline;
      }
    }
  }
  .borderImage {
    border: none;
    position: absolute;
    background: rgba(255,255,255,0);
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .cornerImage {
    border: none;
    position: absolute;
    background: rgba(255,255,255,0);
    margin: 0;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }
  .closeButton {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    width: 2rem;
    height: 2rem;
    display: block;
    background:transparent;
    border: none;//2px solid rgba(0,237,255,1);
    border-radius: 1rem;
    cursor:pointer;
    outline: none;
    //border: none;
    transition:
            box-shadow 200ms ease-out,
            transform 200ms ease-out,
            opacity 200ms ease-in-out;

    &:after,
    &:before{
      transition: 400ms linear;
    }
    &:after{
      width:24px;
      height:2px;
      background-color:rgba(0,237,255,1);
      content:"";
      left:50%;
      top:50%;
      margin-left:-12px;
      margin-top:-2px;
      position:absolute;
      transform: rotate(-45deg);
      /*@include transform-origin(100%,100%);*/
    }
    &:before{
      left:50%;
      top:50%;
      margin-left:-12px;
      margin-top:-2px;
      width:24px;
      height:2px;
      background-color:rgba(0,237,255,1);
      content:"";
      position:absolute;
      transform: rotate(45deg);
    }
    & + p{
      text-transform:lowercase;
      font-size:14px;
      margin-bottom:10px;
    }
  }

  .closeButton:hover:not(.fadeOut){
    box-shadow: 0 0 0 20px rgba(0,237,255,1) inset;
    transform: scale(0.8);
    &:after{
      background-color: rgba(0,237,255,1);
      transform: rotate(-45deg) scale(0.6);
    }
    &:before{
      background-color: rgba(0,237,255,1);
      transform: rotate(45deg) scale(0.6);
    }
  }
}

.cameraEvent_mainContainer::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px #445056;
  border-radius: 10px;
  background-color: #445056;
}

.cameraEvent_mainContainer::-webkit-scrollbar
{
  width: 12px;
  background-color: rgba(0,0,0,0);
  padding-top: 20px;
}

.cameraEvent_mainContainer::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgba(0,237,255,1);
}





