@import '../../../../../resources/mixins';

.DeckViewController {
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(30, 30, 30, 0);

    .securityDevice {
        position: absolute;
        background: rgba(0, 0, 0, 0);
        width: 2rem;
        height: 2rem;
        border: none;
        outline: none;

        .deviceButtonImage {
            position: absolute;
            top: 0%;
            left: 0%;
            height: 100%;
        }
    }

    .deckImage {
        position: absolute;
        -webkit-user-drag: none;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }

    .deckName {
        padding: 0px;
        top: 0rem;
        margin-left: 1rem;
        text-align: center;
        width: 10rem;
        height: 2rem;
        overflow: hidden;
        display: none;

        flex: {
            direction: row;
        }

        align-items: center;

        i {
            position: absolute;
            top: 0.5rem;
        }

        .fa-caret-right {
            left: 0.5rem;
            width: 5%;
            right: auto;
        }

        &:hover {
            i.fa-caret-right {
                transform: rotate(90deg);
            }

            ul.dropdown {
                visibility: visible;
                opacity: 1;
                transform: translate(0, 0);
            }
        }

    }

    .deckName,
    .blue {
        border: solid 2px #00efff;
        border-radius: 5px;
        color: rgba(0, 237, 255, 1);
        background: rgba(22, 50, 173, 0.5);
    }

    .cornerImage {
        border: none;
        position: absolute;
        background: rgba(255, 255, 255, 0);
        margin: 0px;
        width: 20px;
        height: 20px;
        bottom: 0%;
        right: 0%;
        overflow: hidden;
    }

    ul.dropdown {
        visibility: hidden;
        display: flex;
        position: absolute;
        left: 1rem;
        flex-direction: column;
        width: 10rem;
        overflow-y: auto;
        height: 10rem;
        margin: 0;
        padding: 5px 0 30px;
        list-style: none;
        color: rgba(0, 237, 255, 1);
        background: rgba(0, 40, 80, 0.8);
        border: solid 2px #00efff;
        border-radius: 10px;
        box-shadow: 0 0 20px 1px #0274ff, inset 0 0 20px rgb(2, 116, 255);
        transform: translate(0, -60px);
        transition: transform 0.2s ease-out, opacity 0.2s, z-index 0s 0.2s;
        opacity: 0;
        z-index: 1;

        >li {
            font: {
                size: 1rem;
            }

            cursor: pointer;

            .dropdownlink {
                cursor: pointer;
                display: block;
                color: rgba(0, 237, 255, 1);
                position: relative;
                transition: all 0.4s ease-out;

                i {
                    position: absolute;
                    top: 17px;
                    left: 16px;
                }

                .fa-caret-right {
                    left: 12px;
                    right: auto;
                }

                &:hover {
                    background: rgba(30, 80, 150, 0.8);
                }
            }

            ul {
                list-style: none;
            }

            a {
                text-decoration: none;
            }

            ul.submenuItems {
                padding: 0;
                display: none;
                background: rgba(0, 40, 80, 0.8);

                li {
                    .listItem {
                        cursor: pointer;
                        display: block;
                        color: rgba(0, 237, 255, 1);
                        font-size: 0.9rem;
                        position: relative;

                        .liItemImage {
                            position: absolute;
                            left: 2%;
                            top: 30%;
                            //width: 20px;
                            height: 1.5rem;
                        }

                        .cameraName {
                            position: relative;
                            margin-left: 5%;
                        }

                        &:hover {
                            background: rgba(30, 80, 150, 0.8);
                        }
                    }
                }
            }

            // CSS State ===========================
            &:hover {
                .fa-caret-right {
                    transform: rotate(90deg);
                }

                .submenuItems {
                    display: block;
                }
            }
        }

        .selected {
            &:hover {
                color: #464349 !important;
                cursor: pointer;
            }
        }

    }

    ul.dropdown::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.3);
    }

    ul.dropdown::-webkit-scrollbar {
        width: 12px;
        background-color: rgba(0, 0, 0, 0);
        padding-top: 20px;
    }

    ul.dropdown::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: rgba(0, 237, 255, 1);
    }

    @keyframes slideInLeft {
        from {
            transform: translate(-25%, 0);
            opacity: 0;
        }

        to {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    @-webkit-keyframes fix_pulse {
        0% {
          background-image: url("../../../../../assets/img/decks/cameras/2/Fixed Cam Right-Tripped Icon.svg");
          opacity: 1;
        }

        50% {
          
          background-image: url("../../../../../assets/img/decks/cameras/2/Fixed Cam Right- In Matrix Icon.svg");
          opacity: 1;
        }

        100% {
          background-image: url("../../../../../assets/img/decks/cameras/2/Fixed Cam Right-Tripped Icon.svg");
          opacity: 1;
        }
    }

    .camera-icon-active {       
        width: 220%;      
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-animation: fix_pulse 1s infinite linear;
    }

}