@import '../../../../../../resources/mixins';

.LoginView {
  position: absolute!important;
  display: none;
  width: 40rem;
  height: 30rem;
  top: 15rem;
  left: 40rem;
  background: rgba(0, 19, 33, 0.9);
  border: solid 2px #00efff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px #0274ff, inset 0 0 20px rgb(2,116,255);
  z-index: 1000;
  .fieldArea {
    width: 70%;
    margin-left: 15%;
    display: block;
    height: 70px;
    .captionItem {
      font-size: 14px;
      color: rgba(0,237,255,1);
    }
    .inputItem > input {
      height: 45px;
      width: 100%;
      background: #0D1C3F40;
      border: 2px rgba(0,237,255,1) solid;
      border-radius: 5px;
      color: rgba(0,237,255,1);
      font-size: 18px;
    }
  }
  .firstField {
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .buttonArea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    .loginButton {
      width: 250px;
      height: 40px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #062544;
      color: rgba(0,237,255,1);
      font-size: 24px;
      cursor: pointer;
    }
    .loginButton:hover {
      border: 3px rgba(0,237,255,1) solid;
      border-style: outset;
    }
    .loginButton:active {
      border: 3px rgba(0,237,255,1) solid;
      border-style: inset;
    }
  }
  .closeButton {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    width: 2rem;
    height: 2rem;
    display: block;
    background:transparent;
    border: none;//2px solid rgba(0,237,255,1);
    border-radius: 1rem;
    cursor:pointer;
    outline: none;
    //border: none;
    transition:
            box-shadow 200ms ease-out,
            transform 200ms ease-out,
            opacity 200ms ease-in-out;

    &:after,
    &:before{
      transition: 400ms linear;
    }
    &:after{
      width:24px;
      height:2px;
      background-color:rgba(0,237,255,1);
      content:"";
      left:50%;
      top:50%;
      margin-left:-12px;
      margin-top:-2px;
      position:absolute;
      transform: rotate(-45deg);
      /*@include transform-origin(100%,100%);*/
    }
    &:before{
      left:50%;
      top:50%;
      margin-left:-12px;
      margin-top:-2px;
      width:24px;
      height:2px;
      background-color:rgba(0,237,255,1);
      content:"";
      position:absolute;
      transform: rotate(45deg);
    }
    & + p{
      text-transform:lowercase;
      font-size:14px;
      margin-bottom:10px;
    }
  }

  .closeButton:hover:not(.fadeOut){
    box-shadow: 0 0 0 20px rgba(0,237,255,1) inset;
    transform: scale(0.8);
    &:after{
      background-color: rgba(0,237,255,1);
      transform: rotate(-45deg) scale(0.6);
    }
    &:before{
      background-color: rgba(0,237,255,1);
      transform: rotate(45deg) scale(0.6);
    }
  }
  .captionArea {
    position: absolute;
    border: solid 2px #00efff;
    border-radius: 5px;
    color: rgba(0,237,255,1);
    background: rgba(22,50,173,0.5);
    font-size: 16px;
    padding: 0 4%;
    top: 0;
    right: 10%;
    overflow: hidden;
    cursor: default;
  }
  .cornerImage {
    border: none;
    position: absolute;
    background: rgba(255,255,255,0);
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
}
