@import '../../../../../resources/mixins';

.CameraController {
  border: none;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(30,30,30,0);
  overflow: hidden;
  .cameraLoadingArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #001321;
    .rotationArea {
      width: 93px;
      height: 93px;
      display: block;
      -webkit-animation: rotation 3s infinite linear;
    }
  }
  .playBackControls {
    border: none;
    background: rgba(0,0,0,0);
    position: absolute;
    bottom: 5%;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    .controlButton {
      display: inline-block;
      border: none;
      position: relative;
      background: rgba(255,255,255,0);
      margin: 2%;
      width: 7%;
      height: 80%;
      outline: none;
      overflow: hidden;
    }
    .controlButtonImage {
      border: none;
      position: absolute;
      background: rgba(255,255,255,0);
      margin: 0px;
      width: 100%;
      height: 100%;
      bottom: 0%;
      right: 0%;
      overflow: hidden;
      cursor: pointer;
    }
  }
  .borderImage {
    border: none;
    position: absolute;
    background: rgba(255,255,255,0);
    margin: 0px;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    overflow: hidden;
  }
  .cornerImage {
    border: none;
    position: absolute;
    background: rgba(255,255,255,0);
    margin: 0;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }
  .CameraView {
    object-fit: cover;
    border: none;
    position: absolute;
    -webkit-user-drag: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .camera-ptz{
    border: none;
    position: absolute;
    outline: none;
    top: 2.2rem;
    right: 2%;
    width: 3rem;
    height: 2rem;
    background: url('icons/camera-ptz.png') no-repeat;
    background-size: 100%;
    overflow: hidden;
  }

  .camera-fixed{
    border: none;
    position: absolute;
    outline: none;
    top: 2.2rem;
    right: 2%;
    width: 3rem;
    height: 2rem;
    background: url('icons/camera-fixed.png') no-repeat;
    background-size: 100%;
    overflow: hidden;
  }

  .camera-360{
    border: none;
    position: absolute;
    outline: none;
    top: 2.2rem;
    right: 2%;
    width: 3rem;
    height: 2rem;
    background: url('icons/camera-360.png') no-repeat;
    background-size: 100%;
    overflow: hidden;
  }
  .camera-name{
    position: absolute;
    padding: 0 4%;
    top: 0;
    left: 5%;
    overflow: hidden;
  }
  .red {
    border: solid 2px #ff0000;
    border-radius: 5px;
    color: #ff0000;
    background: rgba(255,200,0,0.5);
  }
  .blue {
    border: solid 2px #00efff;
    border-radius: 5px;
    color: rgba(0,237,255,1);
    background: rgba(22,50,173,0.5);
  }
  .green {
    border: solid 2px #21ff5c;
    border-radius: 5px;
    color: rgba(33,237,92,1);
    background: rgba(22,50,173,0.5);
  }
  .zoomContainer {
    border: none;
    position: absolute;
    height: 4.5rem;
    width: 4.5rem;
    top: 35%;
    left: 2%;
    overflow: hidden;
    .zoom-button{
      border: none;
      position: absolute;
      height: 1.5rem;
      width: 4rem;
      top: 1.5rem;
      left: 2%;
      overflow: hidden;
      .zoom-out {
        position: absolute;
        border: none;
        outline: none;
        top: 0;
        left: 0;
        height: 1.5rem;
        width: 1.5rem;
        background: url('icons/zoom-out.png') no-repeat center;
        background-size: 100%;
        cursor: pointer;
      }
      .zoom-in {
        position: absolute;
        border: none;
        outline: none;
        top: 0px;
        right: 0px;
        height: 1.5rem;
        width: 1.5rem;
        background: url('icons/zoom-in.png') no-repeat center;
        background-size: 100%;
        cursor: pointer;
      }
    }
  }
  .roundButton {
    border: none;
    position: absolute;
    height: 4.5rem;
    width: 4.5rem;
    top: 35%;
    right: 2%;
    overflow: hidden;
    .top-button {
      background: rgba(255,255,255,0);
      border: none;
      outline: none;
      position: absolute;
      top: 2%;
      width: 30%;
      height: 30%;
      left: 35%;
      cursor: pointer;
    }
    .bottom-button {
      background: rgba(255,255,255,0);
      border: none;
      outline: none;
      position: absolute;
      bottom: 2%;
      width: 30%;
      height: 30%;
      left: 35%;
      cursor: pointer;
    }
    .left-button {
      background: rgba(255,255,255,0);
      border: none;
      outline: none;
      position: absolute;
      top: 35%;
      width: 30%;
      height: 30%;
      left: 2%;
      cursor: pointer;
    }
    .right-button {
      background: rgba(255,255,255,0);
      border: none;
      outline: none;
      position: absolute;
      right: 2%;
      width: 30%;
      height: 30%;
      top: 35%;
      cursor: pointer;
    }
  }
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
.rotationIcon {
  -webkit-user-drag: none;
}






